@import url('https://fonts.googleapis.com/css?family=Heebo|Varela+Round&subset=hebrew');
.article {
    font-family: "Heebo", "Varela Round", sans-serif;
    line-height: 2;
    .mat-card>.mat-card-content {
        text-align: justify;
    }
}

.mat-card {
    padding-left: 35px;
    padding-right: 35px;
    margin: 10px;
    background-color: antiquewhite;
}

.mat-card-title {
    font-size: 36px;
}

.mat-card-content {
    font-size: 14px;
}